<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .btn { padding: 4px 10px; background-color: blue; color: white; }
    </style>
    <title>Verification Email</title>
  </head>
  <body>
    <div>
      <h1 style="color: teal;">Hello {{username}}</h1>
      <h2>Welcome To Instagram</h2>
      <p>please verify your account, click button!</p>
      <a href={{link}} target="_blank" class="btn">Verify</a>
    </div>
  </body>
</html>